@page
@model Szilveszter_Levente_Artwork.Pages.Artworks.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Artwork</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Artwork.ID" />
            <div class="form-group">
                <label asp-for="Artwork.Title" class="control-label"></label>
                <input asp-for="Artwork.Title" class="form-control" />
                <span asp-validation-for="Artwork.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Artwork.ArtistID" class="control-label">Artist FullName</label>
                <select asp-for="Artwork.ArtistID" class="form-control" asp-items="ViewBag.ArtistID">
                </select>
                <span asp-validation-for="Artwork.ArtistID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Artwork.Price" class="control-label"></label>
                <input asp-for="Artwork.Price" class="form-control" />
                <span asp-validation-for="Artwork.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Artwork.CompletionDate" class="control-label"></label>
                <input asp-for="Artwork.CompletionDate" class="form-control" />
                <span asp-validation-for="Artwork.CompletionDate" class="textdanger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Artwork.VenueID" class="control-label">Venue Name</label>
                <select asp-for="Artwork.VenueID" class="form-control" asp-items="ViewBag.VenueID">
                </select>
                <span asp-validation-for="Artwork.VenueID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="table">
                    <table>
                        <tr>
                           @{
                               int cnt = 0;

                               foreach (var cat in Model.AssignedCategoryDataList)
                               {
                                   if (cnt++ % 3 == 0)
                                   {
                                   @:</tr><tr>
                                   }
                                   @:<td>
                                       <input type="checkbox"
                                              name="selectedCategories"
                                              value="@cat.CategoryID"
                                              @(Html.Raw(cat.Assigned ? "checked=\"checked\"" : "")) />
                                       @cat.CategoryID @: @cat.Name
                                   @:</td>
                               }
                        @:</tr>
                        }
                    </table>
                 </div>
             </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
